<div class="container">
  <h1>Your Most Used Languages</h1>

  <h2>Profile: <%= link_to @profile.github_username, "https://github.com/#{@profile.github_username}" %></h2>

  </br>
  <h4>Click to see companies using these languages</h4>
  <ol>
    <% @profile.technologies.each do |tech| %>
    <li><%= link_to tech.name, technology_path(tech) %></li>
    <% end %>
  </ol>
</div>
