<h1>Edit <%= @company.name %></h1>

<%= render 'form' %>

<%= button_to "Add an Office", new_company_office_path(@company), {:class => "btn btn-info", :method => :get, remote: true}  %>

<%= button_to "Add a Technology", new_company_technology_path(@company), {:class => "btn btn-info", :method => :get} %>
