<h1>Admin Panel</h1>

<% @companies.each do |company| %>
  <%= company.name %>
  <%= link_to "Edit", edit_company_path(company) %>
  <%= link_to "X", company_path(company),
                      :data => { :confirm => "Are you sure?", :method => :delete } %>
<% end %>


<p><%= link_to "Back", companies_path %></p>
