<div id="splash">

  <%= render "layouts/flash" %>

  <div class="background-img">
    <h1>Find <strong><em>your</em></strong> tech company</h1>
    <p>Details on company stacks, locations, and more</p>
    <div class="ctas">
      <%= link_to "Explore companies", companies_path, class: "cta-button left" %>
      <%= link_to "Add Information", new_user_path, class: "cta-button right" %>
    </div>
  </div>
</div>
