<h1><%= @company.name %>'s details</h1>

<table class="table">
  <thead>
    <th>name</th>
    <th>description</th>
    <th>technologies</th>
  </thead>
  <tbody>
    <td>
      <%= @company.name %>
    </td>
    <td>
      <%= @company.description %>
    </td>
    <td>
      <%= @company.technologies %>
    </td>
<table>
