/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.btn {
  margin-bottom: 15px;
}

.navbar {
  min-height: 75px;
  border: none;
  border-bottom: 5px solid transparent;
  margin-top: 10px;
  padding-bottom: 10px;
}

.navbar-default {
  background-color: white;
  border-bottom-color: #09a38c;
}

.logo {
  width: 100px;
}

.btn-custom {
  border-color: #af7abf;
  border-width: 5px;
  border-radius: 20%;
  margin-left: 20px;
}

.navbar .nav-link {
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 20px;
}

.background-img {
  background: url("splash_background.jpg") 50% 100% no-repeat;
  width: 100%;
  height: auto;
}
