/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

a {
  text-decoration: none;
}

.btn {
  margin-bottom: 15px;
}

.navbar {
  min-height: 75px;
  border: none;
  border-bottom: 10px solid transparent;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.navbar-default {
  background-color: white;
  border-bottom-color: #09a38c;
}

.logo {
  width: 100px;
}

.btn-custom {
  border-color: #af7abf;
  padding: 5px 25px;
  border-width: 3px;
  border-radius: 20%;
  margin-left: 20px;
}

.navbar .nav-link {
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 20px;
}

.flash-notice,
.flash-alert {
  text-align: center;
}

#profile-image {
  width: 150px;
}

.background-img {
  background:
    linear-gradient(
      rgba(41,79,117,0.5),
      rgba(41,79,117,0.5)
    ),
    url("splash_background.jpg") 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  color: #e1e3e5;
}

.background-img h1,
.background-img p {
  text-align: center;
}

.background-img h1 {
  padding-top:270px;
  padding-bottom: 30px;
  font-size: 60px;
}

.background-img p {
  font-size: 30px
}

.ctas {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 400px;
}

.background-img .cta-button {
  font-size: 24px;
  padding: 10px 30px;
  border: 2px solid #e1e3e5;
  border-radius: 10px;
  color: #e1e3e5;
  cursor: pointer;
  text-decoration: none;
}

.right {
  margin-left: 80px;
}

.left {
  margin-right: 80px;
}

.table {
  margin-top: 20px;
}

#splash {
  margin-top: -20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.center {
  text-align: center;
}
